RivicSystems_WcfConsumerDemo/RivicSystems_WcfConsumerDemo/Service References/StudentServiceReference/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IStudentService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/StudentService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/StudentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentService_Enroll_InputMessage">
    <wsdl:part name="parameters" element="tns:Enroll" />
  </wsdl:message>
  <wsdl:message name="IStudentService_Enroll_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnrollResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_RegisterForCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForCourse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_RegisterForCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterForCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GenerateException_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateException" />
  </wsdl:message>
  <wsdl:message name="IStudentService_GenerateException_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateExceptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentService">
    <wsdl:operation name="Enroll">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/Enroll" message="tns:IStudentService_Enroll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/EnrollResponse" message="tns:IStudentService_Enroll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterForCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/RegisterForCourse" message="tns:IStudentService_RegisterForCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/RegisterForCourseResponse" message="tns:IStudentService_RegisterForCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateException">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentService/GenerateException" message="tns:IStudentService_GenerateException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentService/GenerateExceptionResponse" message="tns:IStudentService_GenerateException_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentService" type="tns:IStudentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enroll">
      <soap:operation soapAction="http://tempuri.org/IStudentService/Enroll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterForCourse">
      <soap:operation soapAction="http://tempuri.org/IStudentService/RegisterForCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateException">
      <soap:operation soapAction="http://tempuri.org/IStudentService/GenerateException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IStudentService" type="tns:IStudentService">
    <wsp:PolicyReference URI="#NetTcpBinding_IStudentService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Enroll">
      <soap12:operation soapAction="http://tempuri.org/IStudentService/Enroll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterForCourse">
      <soap12:operation soapAction="http://tempuri.org/IStudentService/RegisterForCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateException">
      <soap12:operation soapAction="http://tempuri.org/IStudentService/GenerateException" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentService">
    <wsdl:port name="BasicHttpBinding_IStudentService" binding="tns:BasicHttpBinding_IStudentService">
      <soap:address location="http://localhost:8080/StudentService/StudentService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IStudentService" binding="tns:NetTcpBinding_IStudentService">
      <soap12:address location="net.tcp://localhost:8090/StudentService/StudentService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8090/StudentService/StudentService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>JYO-LAPTOP\Admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>